.tooltip {
  z-index : 999999;
}

.edit_form_line {
  .wpsf-framework.wpsf-vc-framework {
    .wpsf-element {
      &.wpsf-field-heading, &.wpsf-field-subheading {
        margin-left  : -18px;
        margin-right : -18px;
      }
    }
  }
}

.wpsf-framework {
  &.wpsf-vc-framework {
    margin-right  : 0;
    margin-top    : 0;
    margin-bottom : 20px;

    input, select {
      padding : 3px 5px;
    }

    .wpsf-element {
      padding : 0;

      &.wpsf-field-heading, &.wpsf-field-subheading {
        padding : 15px;
      }

      &.wpsf-field-checkbox {
        .wpsf-fieldset {
          ul {
            li {
              h3 {
                margin-top : 0;
              }
            }
          }
        }
      }

      &.wpsf-field-radio {
        .wpsf-fieldset {
          ul {
            li {
              input {
                display        : inline-block;
                width          : auto;
                vertical-align : middle;
                margin-right   : 10px;
              }
            }
          }
        }
      }
      &.wpsf-field-upload, .wpsf-field-upload {
        input {
          width        : 75%;
          margin-right : 15px;
        }
        input + a {
          vertical-align : top;
        }
        & + fieldset {
          margin-top : 10px;
          .wpsf-element {
            vertical-align : middle;
          }
        }
      }
      &.wpsf-field-image_select {
        input {
          display : none;
        }
      }
      &.wpsf-field-fieldset, &.wpsf-field-accordion, &.wpsf-field-tab, &.wpsf-field-group {
        .wpsf-element {
          padding : 15px;
        }
      }
    }
  }
}