{
  "name": "Boilerplate/WPSF/Assets",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
  {
  "path": "vendors/actual/jquery.actual.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
},
{
  "path": "vendors/bootstrap/button/button.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/popover/popover.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/popover/popover.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/tooltip/tooltip.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/tooltip/tooltip.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/bootstrap-transition.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/icheck/icheck.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/icheck/jquery.icheck.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/interdependencies/jquery.interdependencies.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/select2/select2.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/select2/select2.full.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-fields.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-framework.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-plugin-dev.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/wpsf-plugins.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "scss/wpsf-framework-light.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/wpsf-plugins.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true}}"
},
{
  "path": "scss/wpsf-framework-rtl.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/wpsf-framework.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\",\"lineNumbers\":false}}"
},
{
  "path": "scss/vendor/_base.scss",
  "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\",\"lineNumbers\":false}}"
},
{
  "path": "js/wpsf-quick-edit.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "scss/vendor/dark-theme.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\",\"lineNumbers\":false},\"compiler-cssnext\":{\"enabled\":true}}"
},
{
  "path": "scss/vendor/simple-theme.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\",\"lineNumbers\":false},\"compiler-cssnext\":{\"enabled\":true}}"
},
{
  "path": "scss/vendor/wc-metabox.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\",\"lineNumbers\":false}}"
},
{
  "path": "scss/vendor/quick-edit.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\",\"lineNumbers\":false}}"
},
{
  "path": "scss/vendor/compass/compass/utilities/general/_min.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/vendor/compass/compass/utilities/lists/_horizontal-list.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/vendor/compass/compass/typography/lists/_bullets.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/vendor/compass/compass/utilities/links/_unstyled-link.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/vendor/compass/compass/utilities/general/_clearfix.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/vendor/compass/compass/utilities/_links.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "scss/vendor/compass/compass/_reset.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "css/font-awesome.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-fields-dev.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/wpsf-fields.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/f/fields-dev.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/f/wpsf-select-2.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/src/fields/select2.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/src/wpsf-fields-dev.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/src/wpsf-fields.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"js/wpsf-fields.js\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/src/wpsf-fields-dev.min.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/src/fields/chosen.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/src/fields/image_selector.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/src/fields/sorter.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-babel\":{\"enabled\":true},\"compiler-concat-js\":{\"enabled\":true},\"compiler-uglify-js\":{\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-framework.min.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-fields.min.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-fields - Copy (2).js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "scss/_wpsf_cols.scss",
  "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "js/wpsf-plugins.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-plugins.min.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "css/wpsf-plugins.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "css/wpsf-framework-rtl.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "css/wpsf-framework.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "scss/vendor/wpsf-icheck.scss",
  "configJson": "{\"forceCompile\":true,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "vendors/animatecss/animate.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/flatpickr/flatpicker-final.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/chosen/chosen.min.css",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/flatpickr/scss/_flatpicker.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"vendors/flatpickr/flatpickr.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "vendors/flatpickr/flatpickr.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/flatpickr/flatpickr.js",
  "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/bootstrap.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/bootstrap-dev.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"vendors/bootstrap/bootstrap.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/bootstrap/bootstrap.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/chosen/chosen.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/chosen/chosen.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "all-js.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\".min\"}"
},
{
  "path": "scss/wpsf-vc.scss",
  "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"expanded\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
},
{
  "path": "css/wpsf-vc.css",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-cssnext\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "js/wpsf-vc.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
},
{
  "path": "vendors/inputToArrays/inputToArray.js",
  "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"outputSuffix\":\".min\"}"
}
],
"fileTree": {
  "expandedDirs": [
  "js/fields",
  "js/src",
  "js/src/framework",
  "js/_fields",
  "js/f",
  "vendors/inputToArrays",
  "scss",
  "js"
],
"hideSystemFiles": true,
"systemFiles": [
  ".*",
  "desktop.ini",
  "prepros.config",
  "$RECYCLE.BIN",
  "prepros.cfg",
  "prepros-6.config",
  "Prepros Export"
],
"hideUnwatchedFiles": false
},
"imports": [
  {
    "path": "scss/wpsf-framework.scss",
    "imports": [
    "scss/vendor/dark-theme.scss",
    "scss/vendor/simple-theme.scss",
    "scss/vendor/wp-metabox.scss",
    "scss/vendor/wc-metabox.scss",
    "scss/vendor/quick-edit.scss",
    "scss/vendor/_mixins.scss",
    "scss/vendor/_base.scss",
    "scss/vendor/fields/_text.scss",
    "scss/vendor/fields/_textarea.scss",
    "scss/vendor/fields/_typography_advanced.scss",
    "scss/vendor/fields/_wysiwyg.scss",
    "scss/vendor/fields/_number.scss",
    "scss/vendor/fields/_select.scss",
    "scss/vendor/fields/_typography.scss",
    "scss/vendor/fields/_switcher.scss",
    "scss/vendor/fields/_image-select.scss",
    "scss/vendor/fields/_upload.scss",
    "scss/vendor/fields/_background.scss",
    "scss/vendor/fields/_color-picker.scss",
    "scss/vendor/fields/_backup.scss",
    "scss/vendor/fields/_fieldset.scss",
    "scss/vendor/fields/_accordion.scss",
    "scss/vendor/fields/_help.scss",
    "scss/vendor/fields/_heading.scss",
    "scss/vendor/fields/_subheading.scss",
    "scss/vendor/fields/_notice.scss",
    "scss/vendor/fields/_icon.scss",
    "scss/vendor/fields/_image.scss",
    "scss/vendor/fields/_gallery.scss",
    "scss/vendor/fields/_sorter.scss",
    "scss/vendor/fields/_css-builder.scss",
    "scss/vendor/fields/_image-size.scss",
    "scss/vendor/fields/_color-scheme.scss",
    "scss/vendor/fields/_tabs.scss",
    "scss/vendor/fields/_spacing.scss",
    "scss/vendor/fields/_datepicker.scss",
    "scss/vendor/fields/_social_icons.scss",
    "scss/vendor/fields/_modal_search.scss",
    "scss/wpsf-framework-light.scss",
    "scss/_wpsf_cols.scss",
    "scss/vendor/_horizontal.scss",
    "scss/vendor/help-tabs.scss",
    "scss/vendor/wpsf-icheck.scss"
]
}
],
"projectView": {
  "selectedView": "file-tree"
},
"fileWatcher": {
  "enabled": true,
  "watchedExtensions": [
  "less",
  "sass",
  "scss",
  "coffee",
  "js",
  "css",
  "html"
]
},
"pathFilters": [
  "node_modules",
  ".*",
  "bower_components",
  "prepros.config",
  "Prepros Export",
  "prepros-6.config",
  "prepros.cfg",
  "wp-admin",
  "wp-includes"
],
"server": {
  "port": 7881,
  "assignNewPortAutomatically": false,
  "enable": false,
  "proxy": {
  "enable": false,
  "url": ""
}
},
"browser-sync": {
  "enable": false,
  "clicks": true,
  "forms": true,
  "scroll": true
},
"live-reload": {
  "enable": false,
  "animate": true,
  "delay": 0
},
"ftp-deploy": {
  "connectionType": "ftp",
  "remotePath": "",
  "uploadTimeout": 20000,
  "uploadOnChange": false,
  "ftp": {
  "secure": false,
  "host": "",
  "port": 21,
  "user": "",
  "password": ""
},
"sftp": {
  "host": "",
  "port": 22,
  "usePrivateKey": false,
  "username": "",
  "password": "",
  "privateKey": "",
  "passphrase": ""
},
"pathFilters": [
  "config.rb",
  "prepros.config",
  "prepros-6.config",
  "node_modules",
  "Prepros Export",
  ".git",
  ".idea",
  ".sass-cache",
  ".hg",
  ".svn",
  ".cache",
  ".DS_Store",
  "*.sass",
  "*.scss",
  "*.less",
  "*.pug",
  "*.jade",
  "*.styl",
  "*.haml",
  "*.slim",
  "*.coffee",
  "*.ls",
  "*.kit",
  "*.ts"
],
"history": []
  },
"file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\",\"cssnext\"],\"compiler-cssnext\":{\"enabled\":false},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}",
"file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
"autoprefixer": {
  "browsers": "last 5 versions"
},
"file-type-pug": "{\"compilers\":[\"pug\"]}",
"file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"outputSuffix\":\".min\"}",
"file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"outputSuffix\":\".min\",\"compiler-babel\":{\"enabled\":true},\"compiler-uglify-js\":{\"mangle\":false}}",
"file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
"file-type-markdown": "{\"compilers\":[\"markdown\"]}",
"file-type-haml": "{\"compilers\":[\"haml\"]}",
"file-type-slim": "{\"compilers\":[\"slim\"]}",
"file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\",\"concat-js\",\"babel\"],\"output\":{\"replaceSegments\":[\"src\"],\"replaceSegmentsWith\":\"\"},\"compiler-coffee-script\":{\"bare\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"compiler-concat-js\":{\"enabled\":false},\"compiler-babel\":{\"enabled\":false},\"outputSuffix\":null}",
"file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
"file-type-kit": "{\"compilers\":[\"kit\"]}",
"uglify-js": {
  "ie8": false,
  "compress": {
  "sequences": true,
  "properties": true,
  "dead_code": true,
  "drop_debugger": true,
  "unsafe": false,
  "unsafe_comps": false,
  "unsafe_math": false,
  "unsafe_proto": false,
  "unsafe_regexp": false,
  "conditionals": true,
  "comparisons": true,
  "evaluate": true,
  "booleans": true,
  "loops": true,
  "unused": true,
  "toplevel": false,
  "top_retain": "",
  "hoist_funs": true,
  "hoist_vars": false,
  "if_return": true,
  "join_vars": true,
  "cascade": true,
  "collapse_vars": true,
  "reduce_vars": true,
  "warnings": true,
  "negate_iife": true,
  "pure_getters": false,
  "pure_funcs": [],
"drop_console": false,
"expression": false,
"keep_fargs": true,
"keep_fnames": false,
"passes": 1,
"keep_infinity": false,
"side_effects": true,
"global_defs": []
  },
"output": {
  "ascii_only": false,
  "beautify": false,
  "bracketize": false,
  "comments": "",
  "indent_level": 4,
  "indent_start": 0,
  "inline_script": false,
  "keep_quoted_props": false,
  "max_line_len": false,
  "preamble": "",
  "preserve_line": false,
  "quote_keys": false,
  "quote_style": 0,
  "semicolons": true,
  "shebang": true,
  "width": 80
}
},
"cssnext": {
  "customProperties": true,
  "applyRule": true,
  "calc": true,
  "nesting": true,
  "customMedia": true,
  "mediaQueriesRange": true,
  "customSelectors": true,
  "attributeCaseInsensitive": true,
  "colorRebeccapurple": true,
  "colorHwb": true,
  "colorGray": true,
  "colorHexAlpha": true,
  "colorFunction": true,
  "fontVariant": true,
  "filter": true,
  "initial": true,
  "rem": true,
  "pseudoElements": true,
  "pseudoClassMatches": true,
  "pseudoClassNot": true,
  "pseudoClassAnyLink": true,
  "colorRgba": true,
  "overflowWrap": true
},
"file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
"babel": {
  "useBabelRc": true,
  "presets": {
  "babel-preset-es2015": true
},
"plugins": {
  "babel-plugin-syntax-jsx": true,
  "babel-plugin-transform-react-jsx": true,
  "babel-plugin-transform-async-to-generator": true,
  "babel-plugin-transform-class-properties": true,
  "babel-plugin-transform-object-rest-spread": true
}
},
"file-type-png": "{\"compilers\":[\"png\"]}",
"file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}